<form class="form" action="">
  <fieldset>
    <legend>Login form</legend>
    <label for="" class="form__label">
      <span>username</span>
      <input type="text" class="form__input" />
    </label>
    <label for="" class="form__label">
      <span>email</span>
      <input type="email" class="form__input" />
    </label>
    <button class="form__button" type="submit">Login</button>
    <a class="form__button" href="/">Back</a>
  </fieldset>
</form>
